<div class="center hero-unit">
  <h1>SUBMIT YOUR TRIP REQUEST, FOR FREE, AND WE'LL MATCH </h1>

  <%= link_to "Register traveller!", 'signup', class: "btn btn-large btn-primary" %>
  <%= link_to "Register agency!", 'agentsignup', class: "btn btn-large btn-primary" %>
</div>
